# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Test and coverage reports
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDEs
.idea/
.vscode/

# LangChain
.langchain/

# OS-specific files
.DS_Store
Thumbs.db
